* {
	margin:0;
	padding:0;
}

html {
	background-color:#FFFFFF;
	color:#131313;
	font-family: "Pontano Sans", sans-serif;
}

body {
	display: flex;
	flex-flow:row wrap;
	height:100%;
	width:100vw;
}

#sidebar {
	order:1;
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	flex:1 0 350px;
	background-color:#232222;
	padding-top:10rem;
}

#main {
	order:2;
	flex: 100 100 900px;
	min-width:900px;
}

#content {
	margin:4.5rem 0 0 2.5rem;
/*	background-color:grey;
*/	max-width:850px;
}

ul {
	display:flex;
	flex-direction: row;
}

li {
	padding:0rem 1.5rem 2rem 1.5rem;
	text-align:center;
	flex-basis:1;
}

.header {
	font-size:1.75rem;
	padding-bottom:1rem;
}

a {
	color:#adadad;
	text-decoration:none;
}

a:hover {
	color:#808080;
}
img {
	width:100%;
}

@media screen and (min-width:1250px) {
	ul {
		flex-direction:column;
	}

	body {
		height:100vh;
	}
}