.header {
	font-family:Helvetica, Arial;
	color:black;
	text-align:center;
	background-color:#3c3d3c;
	border-radius:10;
	padding:40px 0px 10px 0px;
	font-size: 150%;
	font-style:bold;
*/}

.sideNav {
	height:100%;
	width:0;
	top:0;
	left:0;
	transition-property:width;
	transition-duration: 0.5s;
	overflow-x:hidden;
	background-color:#303030;
	float:left;
	position:fixed;
	margin:0;
}

.sideNav a {
	display:block;
	padding: 10px 10px 10px 12px;
	white-space:nowrap;
	color:#000000;
	border-bottom:1px solid #000000;
}

.sideNav a:hover {
	color:white;
}

.openNav {
	text-align:right;
	position:fixed;
	color:black;
	top:8px;
	left:8px;
}

html, body {
	margin:0;
	padding:0;
	background-color:#000000
}
