.header {
	font-family:Helvetica, Arial;
	color:white;
	text-align:center;
}

.sideNav {
	height:100%;
	width:0;
	top:0;
	left:0;
	transition-property:width;
	transition-duration: 0.5s;
	overflow-x:hidden;
	background-color:black;
	float:left;
	position:fixed;
	margin-left:0px;
}

.sideNav a {
	display:block;
	padding: 10px 10px 10px 12px;
	white-space:nowrap;
	color:#544f4f;
	border-bottom:1px solid #544f4f;
}

.sideNav a:hover {
	color:white;
}

.site-color {
	background-color:#2b2928;
}

.openNav {
	text-align:right;
	position:fixed;
	color:black;
	top:8px;
	left:8px;
}